{% extends "base.html" %} {% block title %}
<title>책읽아웃</title>
{% endblock %}
<!-- css -->
{% block css%}
<style>
  .img {
    box-shadow: 0px 0px 5px 1px rgb(190, 192, 190);
    border-radius: 10%;

  }

  .img:hover {
    filter: brightness(50%);
    transition: 0.5s;
  }
  /* 이미지영역 */
  .img_area {
    display: inline-block;
    position: relative;
    padding-right: 10px;
    padding-bottom: 10px;
  }

  /* 이미지가 뜨면 제일앞에 표시 */
  .img_area:hover > .hover_text {
    display: block;
  }

  /* 텍스트 평소에는 안보임*/
  .hover_text {
    display: none;
  }

  .hover_text {
    position: absolute;
    transition: 10ms;
    top: 120px;
    left: 30px;
    width: 230px;
    color: white;
    -webkit-text-stroke: 1px black;
    font-weight: 600;
    font-size: 25px;
  }
  
  .desc-box{
    box-shadow: 0px 0px 5px 1px rgb(190, 192, 190);
    margin-top: 20px;
    margin: 0 auto;
    height: 322px; width: 389px; background-color: white;
    border-radius: 20%;
    border: 10px;
  }
  .desc-icon{
    padding-top: 15px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    
  }

  .desc-title{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    
  }

  .desc-title{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    
  }
</style>
{% endblock %} {% block header %}
<!-- 헤더-->
{% if request.session.user %}
<header class="py-5 bg-light border-bottom" style="height: 100px">
  <div class="col-6 text-center" style="margin-bottom: 40px; font-size: 30px;" >📕{{ name }} 님 환영합니다.</div>
</div>
</header>
{% endif %} {% endblock %}

<!-- Contents -->
{% block contents %}
<!-- 로그인 -->
{% if request.session.user %}
<div  style="height: 400px; background-color:  rgb(248, 248, 237)">
  <div class="container" style="height: 400px">
    <div class="row">
      <div class="col-6" style="text-align: left; padding: 100px 0">
        <div
          style="
            font-size: 30px;
            color: rgb(113, 70, 70);
            font-weight: bold;
            font-family: system-ui, -apple-system, BlinkMacSystemFont,
              'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
              'Helvetica Neue', sans-serif;
          "
        >
          경제·자기계발 독서모임 💵돈.독.모입니다.
        </div>
        <div style="font-size: 20px; margin-top: 5px; font-weight: bold; color:black; width: 13cm;">같이 재밌게 독서하고 토론하면서 💴부자가 되봅시다!</div>
        <button style="border: 0.5px solid transparent; background-color: rgb(241, 233, 222); width:150px;height: 40px;margin-top: 30px;border-radius: 3px  ;"><a style="color: rgb(72, 69, 69); font-size: larger; font-weight: bold;" onclick="location.href='/community/new/'">📖새로 만들기</a></button>
      </div>
      <div class="col-6">
        <img
          class="back"
          src="https://i.ibb.co/K7p9qKV/reading-image.png"
          alt="이미지"
        />
      </div>
    </div>
  </div>
</div>
<div>
<div class="container">
  <div class="row" style="margin-top: 40px;">
    <h4 style="font-weight: bold; color: rgb(113, 70, 70)">
      최근 모임도서를 기반으로 추천한 도서입니다.
    </h4>
  </div>
  <div class="row ">
  {% for book in recommendbooks %}
  <div class="col-3">
  <a href="/book/search/result/{{book.id}}" class="img_area"
    ><img
      class="img"
      src="{{book.book_cover}}"
      style="
        height: 380px;
        width: 280px;
        margin-right: 10px;
        margin-bottom: 10px;
      "
    />
    <p class="hover_text">{{book.book_title}}</p></a
  ><span>{{book.book_title}}</span>
</div>
  {% endfor %}
</div>
</div>
<div style="height: 500px;">
  <div class="container" style="height: 40px">
    <div class="row" style="margin-top: 40px;">
      <h4 style="font-weight: bold; color: rgb(113, 70, 70)">
        최근 도서모임 진행도서
      </h4>
    </div>
    <div style="overflow: auto; width:auto; height: 480px">
      <div class="row">
            {% for book in result %}
            <div class="col-3">
              <a href="/book/search/result/{{book.id}}" class="img_area"
                ><img
                  class="img"
                  src="{{book.book_cover}}"
                  style="
                    height: 380px;
                    width: 280px;
                    margin-right: 10px;
                    margin-bottom: 10px;
                  "
                />
                <p class="hover_text">{{book.book_title}}</p></a
              ><span>{{book.book_title}}</span>
            </div>
            
              {% endfor %}
        </div>
      </div>
    </div>  
  </div>
</div>
<div class="margin-top" style="height: 500px; background-color:  rgb(248, 248, 237)">
  <div class="container" style="height: 400px">
    <div class="row"></div>
    <div class="row" style="font-size: 40px; margin-top: 20px; font-weight: bold;">반가워요❗</div>
    <div class="row">
      <div class="col-4">
        <div class="desc-box">
          <p class="desc-icon">👨‍👨</p> 
          <p class="desc-title">독서모임</p> 
          <p class="desc-contents">
            <ul style="list-style: none;">
              <li class="text-center"> 모임을 만들거나 참여하면서 </li>
              <li class="text-center"> 자유로운 독서모임을 즐기세요!
              <li>　</li>
              <li style="font-weight: bold;" class="text-center">◽ 모임 생성</li>
              <li style="font-weight: bold;" class="text-center">◽ 모임 참여</li>
              <li style="font-weight: bold;" class="text-center">◽ 모임 후기 작성</li>
            </ul>  
          </p>
        </div>
      </div>
      <div class="col-4" >
        <div class="desc-box">
          <p class="desc-icon">🔎</p>
          <p class="desc-title">검색</p>
          <p class="desc-contents">
            <ul style="list-style: none;">
              <li style="font-weight: bold;">도서 검색</li>
              <p>◽ 도서를 검색하고, 도서에 대한 회원들의 리뷰와 　평가를 볼 수 있습니다.</p>
              <li style="font-weight: bold;">유저 검색</li>
              <p>◽ 유저를 검색하고 모든 회원들의 유저페이지를 　볼 수 있습니다.</p>
            </ul>  
          </p>
        </div>
      </div>
      <div class="col-4" >
        <div class="desc-box">
          <p class="desc-icon">📖</p>
          <p class="desc-title">추천</p>
          <p class="desc-contents">
            <ul style="list-style: none;">
              <li style="font-weight: bold; font-size: larger;margin-right: 20px;" class=text-center>◽ 독서모임 도서와 관련된 도서 추천</li>
              <li style="font-weight: bold; font-size: larger;margin-right: 20px;" class=text-center>◽ 내가 읽은 도서와 관련된 도서 추천</li>
              <li style="font-weight: bold; font-size: larger;margin-right: 20px;" class=text-center>◽ 회원 관심사와 관련된 도서 추천</li>
            </ul>  
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 로그인 X  -->
{% else %}
<div style="height: 400px; background-color:  rgb(248, 248, 237)">
  <div class="container" style="height: 400px">
    <div class="row">
      <div class="col-6" style="text-align: left; padding: 100px 0">
        <div
          style="
            font-size: 30px;
            color: rgb(113, 70, 70);
            font-weight: bold;
            font-family: system-ui, -apple-system, BlinkMacSystemFont,
              'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
              'Helvetica Neue', sans-serif;
          "
        >
          경제·자기계발 독서모임 💵돈.독.모입니다.
        </div>
        <div style="font-size: 20px; margin-top: 5px; font-weight: bold; color:black; width: 13cm;">같이 재밌게 독서하고 토론하면서 💴부자가 되봅시다!</div>
        <button style="border: 0.5px solid transparent; background-color: rgb(241, 233, 222); width:150px;height: 40px;margin-top: 30px;border-radius: 3px  ;"><a style="color: rgb(72, 69, 69); font-size: larger; font-weight: bold;" onclick="location.href='/user/login/'">📖새로 만들기</a></button>
      </div>
      <div class="col-6">
        <img
          class="back"
          src="https://i.ibb.co/K7p9qKV/reading-image.png"
          alt="이미지"
        />
      </div>
    </div>
  </div>
</div>
<div style="height: 500px">
  <div class="container" style="height: 40px">
    <div class="row" style="margin-top: 40px;">
      <h4 style="font-weight: bold; color: rgb(113, 70, 70)">
        최근 도서모임 진행도서
      </h4>
    </div>
    <div style="overflow: auto; width:auto; height: 480px">
      <div class="row">
            {% for book in result %}
            <div class="col-3">
              <img
                class="img"
                src="{{book.book_cover}}"
                style="
                  height: 380px;
                  width: 280px;
                  margin-right: 10px;
                  margin-bottom: 10px;
                "
              />
              <div class="text-center" style="font-size: smaller; font-weight: bold;">{{book.book_title}}</div>
            </div>
            {% endfor %}
        </div>
      </div>
    </div>  
  </div>
</div>
<div style="height: 500px; background-color:  rgb(248, 248, 237)">
  <div class="container" style="height: 400px">
    <div class="row"></div>
    <div class="row" style="font-size: 40px; margin-top: 20px; font-weight: bold;">반가워요❗</div>
    <div class="row">
      <div class="col-4">
        <div class="desc-box">
          <p class="desc-icon">👨‍👨</p> 
          <p class="desc-title">독서모임</p> 
          <p class="desc-contents">
            <ul style="list-style: none;">
              <li class="text-center"> 모임을 만들거나 참여하면서 </li>
              <li class="text-center"> 자유로운 독서모임을 즐기세요!
              <li>　</li>
              <li style="font-weight: bold;" class="text-center">◽ 모임 생성</li>
              <li style="font-weight: bold;" class="text-center">◽ 모임 참여</li>
              <li style="font-weight: bold;" class="text-center">◽ 모임 후기 작성</li>
            </ul>  
          </p>
        </div>
      </div>
      <div class="col-4" >
        <div class="desc-box">
          <p class="desc-icon">🔎</p>
          <p class="desc-title">검색</p>
          <p class="desc-contents">
            <ul style="list-style: none;">
              <li style="font-weight: bold;">도서 검색</li>
              <p>◽ 도서를 검색하고, 도서에 대한 회원들의 리뷰와 　평가를 볼 수 있습니다.</p>
              <li style="font-weight: bold;">유저 검색</li>
              <p>◽ 유저를 검색하고 모든 회원들의 유저페이지를 　볼 수 있습니다.</p>
            </ul>  
          </p>
        </div>
      </div>
      <div class="col-4" >
        <div class="desc-box">
          <p class="desc-icon">📖</p>
          <p class="desc-title">추천</p>
          <p class="desc-contents">
            <ul style="list-style: none;">
              <li style="font-weight: bold;">"돈.독.모" 전용 추천 서비스</li>
              ◽ 독서모임 도서와 관련된 도서 추천
              <li style="font-weight: bold;">"유저 맞춤" 추천 서비스</li>
              ◽ 내가 읽은 도서와 관련된 도서 추천
              <br>
              ◽ 회원 관심사와 관련된 도서 추천
            </ul>  
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %} {% endblock %}
